body {
  font-family: Yu mincho;
}
// ヘッダー
header {
  width: 100%;
  background: #4c2619;
  // ヘッダーの中身
  .container {
    max-width: 1440px;
    margin: 0 auto;
    height: 160px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // タイトル
    &--title {
      display: flex;
      align-items: center;
      gap: 8px;
      &--text {
        h2 {
          font-size: 30px;
          line-height: 40px;
          font-weight: 400;
          color: #fff;
        }
        p {
          font-size: 16px;
          color: #fff;
          text-align: right;
        }
      }
    }
    &--nav {
      height: 160px;
      position: relative;
      // ナビゲーションボタン
      &--btns {
        position: absolute;
        top: 56px;
        right: 0;
        ul {
          display: flex;
          justify-content: space-between;
          gap: 24px;
          list-style: none;
          li {
            &:nth-child(1) {
              a {
                width: 80px;
              }
            }
            &:nth-child(2) {
              a {
                width: 200px;
              }
            }
            &:nth-child(3) {
              a {
                width: 200px;
              }
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 40px;
              background-color: #fff;
              text-decoration: none;
              color: #4c2619;
              border-radius: 3px;
              font-weight: 600;
              transition: 0.1s;
              &:hover {
                box-shadow: 1px 1px 6px inset #4c2619;
              }
            }
          }
        }
      }
      // ナビゲーション
      nav {
        position: absolute;
        bottom: 8px;
        right: 0;
        ul {
          display: flex;
          gap: 8px;
          li {
            a {
              display: flex;
              justify-content: center;
              width: 112px;
              text-decoration: none;
              color: #fff;
              font-size: 20px;
              line-height: 48px;
              font-weight: 100;
            }
          }
        }
      }
    }
  }
}

// ファーストビュー
.fv {
  width: 100%;
  height: 600px;
  background: url('../img/fv.png') no-repeat center/cover;
  position: relative;
  margin-bottom: 32px;
  &__text {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50%;
    max-width: 1440px;
    width: 100%;
    .message {
      text-align: right;
      font-size: 65px;
      font-weight: 600;
      padding-right: 16px;
    }
  }
  figure {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1440px;
    width: 100%;
  }
}
// 医院についてconcept
.concept {
  margin-bottom: 112px;
  &__text {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 auto 24px;
    max-width: 1032px;
    width: 100%;
    p {
      max-width: 928px;
      width: 100%;
      font-size: 21px;
      font-weight: 600;
      line-height: 48px;
    }
  }
  &__slider {
    display: flex;
    gap: 32px;
    width: 100%;
    overflow-x: hidden;
    padding: 0 32px;
    &__box {
      width: 600px;
      height: 232px;
      border-radius: 5px;
      background-color: gray;
      &:nth-child(odd) {
        dl {
          dt {
            color: #00c2ff99;
          }
          dd {
            background: var(--blue-translucent-1, #a3e9ff80);
          }
        }
      }
      &:nth-of-type(even) {
        dl {
          dt {
            color: #ff00a899;
          }
          dd {
            background: var(--pink-translucent-1, #ffc1ea99);
          }
        }
      }
      dl {
        width: 600px;
        height: 232px;
        position: relative;
        border-radius: 5px;
        dt {
          position: absolute;
          top: 8px;
          left: 16px;
          font-size: 56px;
          font-weight: 600;
        }
        dd {
          widows: 600px;
          height: 88px;
          padding: 8px 16px;
          position: absolute;
          bottom: 0;
          left: 0;
          backdrop-filter: blur(3.5px);
          border-radius: 0 0 5px 5px;
          font-size: 16px;
          line-height: 24px;
          color: #171717;
          font-weight: 600;
        }
      }
      &.box01 {
        background: url('../img/bg01.png') no-repeat center/cover;
      }
      &.box02 {
        background: url('../img/bg02.png') no-repeat center/cover;
      }
      &.box03 {
        background: url('../img/bg03.png') no-repeat center/cover;
      }
      &.box04 {
        background: url('../img/bg04.png') no-repeat center/cover;
      }
    }
  }
}
// section共通
@mixin section($direction: row) {
  margin: 0 auto 200px;
  max-width: 1640px;
  width: 100%;
  display: flex;
  flex-direction: $direction;
}
@mixin container($direction: row) {
  display: flex;
  flex-direction: $direction;
  max-width: 1312px;
  width: 100%;
  height: 600px;
  position: relative;
  figure {
    z-index: -1;
  }
}
@mixin title {
  position: absolute;
  top: 24px;
  color: #4c2619;
  opacity: 0.3;
  font-size: 240px;
}
@mixin nav($direction: row-reverse) {
  position: absolute;
  bottom: 0;
  list-style: none;
  padding-bottom: 16px;
  max-width: 75%;
  width: 100%;
  display: grid;
  gap: 16px;
  li {
    a {
      display: flex;
      flex-direction: $direction;
      align-items: center;
      width: 100%;
      height: 40px;
      background-color: #f0fbff;
      text-decoration: none;
      color: #4c2619;
      font-weight: 600;
      font-size: 20px;
      transition: 0.2s;
      &:hover {
        background-color: #ffc1ea;
      }
    }
  }
}
// スタッフ
.staff {
  @include section;
  &__container {
    @include container;
    background: linear-gradient(
      -145deg,
      transparent 50%,
      rgba(76, 38, 25, 0.6)
    );
    &__text {
      max-width: 712px;
      width: 100%;
      height: 600px;
      position: relative;
      right: 0;
      &--title {
        @include title;
        right: 0;
      }
      &--nav {
        @include nav;
        grid-template-columns: 1fr;
        li {
          a {
            padding-right: 8px;
          }
        }
      }
    }
  }
}
// 治療内容
.treat {
  @include section(row-reverse);
  &__container {
    @include container(row-reverse);
    background: linear-gradient(145deg, transparent 50%, rgba(76, 38, 25, 0.6));
    &__text {
      max-width: 712px;
      width: 100%;
      height: 600px;
      position: relative;
      left: 0;
      &--title {
        @include title;
        left: 0;
      }
      &--nav {
        @include nav(row);
        right: 0;
        grid-template-columns: 1fr 1fr;
        li {
          a {
            padding-left: 8px;
          }
        }
      }
    }
  }
}
// 受診の流れ
.flow {
  @include section;
  &__container {
    @include container;
    background: linear-gradient(
      -145deg,
      transparent 50%,
      rgba(76, 38, 25, 0.6)
    );
    &__text {
      max-width: 712px;
      width: 100%;
      height: 600px;
      position: relative;
      right: 0;
      &--title {
        @include title;
        right: 0;
      }
      &--num {
        position: absolute;
        bottom: 88px;
        list-style: none;
        padding-left: 72px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        li {
          height: 40px;
          font-size: 24px;
          color: black;
          position: relative;
          display: flex;
          align-items: end;
          &:nth-child(1) {
            gap: 32px;
            &::before {
              content: '1.';
              position: absolute;
              font-size: 40px;
              top: 8px;
              left: -40px;
            }
          }
          &:nth-child(2)::before {
            content: '2.';
            position: absolute;
            font-size: 40px;
            top: 8px;
            left: -40px;
          }
          &:nth-child(3)::before {
            content: '3.';
            position: absolute;
            font-size: 40px;
            top: 8px;
            left: -40px;
          }
          &:nth-child(4)::before {
            content: '4.';
            position: absolute;
            font-size: 40px;
            top: 8px;
            left: -40px;
          }
        }
      }
      &--nav {
        @include nav;
        grid-template-columns: 1fr 1fr;
        li {
          &:first-child {
            a {
              background-color: #ffc1ea;
              transition: 0.2s;
              &:hover {
                background-color: #f0fbff;
              }
            }
          }
          a {
            padding-right: 8px;
          }
        }
      }
    }
  }
}
// アクセス
.access {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto 120px;
  display: flex;
  gap: 16px;
  padding: 0 8px;
  &__text {
    &--title {
      color: #4c2619;
      opacity: 0.3;
      font-size: 72px;
      margin-bottom: 16px;
    }
    &--body {
      display: flex;
      flex-direction: column;
      gap: 32px;
      list-style: none;
      li {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
      }
    }
  }
}
// バナー
.ad {
  &__slider {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 120px;
    padding: 0 40px;
    margin-bottom: 112px;
  }
}
// フッター
footer {
  width: 100%;
  height: 128px;
  background: #4c2619;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    small {
      font-size: 14px;
      color: white;
      font-weight: lighter;
    }
  }
}
