@charset "UTF-8";
body {
  font-family: "メイリオ";
  min-height: 100vh;
  background: #dde000;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

header h1 {
  color: #26e400;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 30px;
}
header h1.checked {
  color: #ff3191;
}

main .form-area {
  display: flex;
  justify-content: center;
  padding: 0 6px;
}
main .form-area form {
  position: relative;
  max-width: 645px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #26e400;
  border: 2px solid #26e400;
  border-radius: 8px;
  box-shadow: #0f5c00 3px 3px 6px;
}
main .form-area form.checked {
  background-color: #ff3191;
  border: 2px solid #ff3191;
  box-shadow: #791845 3px 3px 6px;
}
main .form-area form p input {
  border: 1px solid #fff;
  padding: 5px;
  font-size: 1.2rem;
}
main .form-area form p input#important {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0px;
  left: 0px;
  vertical-align: top;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -2px;
}
main .form-area form p input#important::before {
  position: absolute;
  content: "▲ ▼";
  color: #26e400;
  font-size: 3.7rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #26e400;
  border-radius: 8px 0 0 8px;
  width: 60px;
  height: 100px;
  transition: 0.25s ease-in-out;
}
main .form-area form p input#important:checked::before {
  color: #ff3191;
  border: 2px solid #ff3191;
}
main .form-area form p input#important::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 52px;
  background-color: #26e400;
  border-radius: 8px 0 0 0;
  transition: 0.25s ease-in-out;
}
main .form-area form p input#important:checked::after {
  translate: 0 48px;
  background-color: #ff3191;
  border-radius: 0 0 0 8px;
}
main .form-area form p textarea {
  border: 1px solid #fff;
  padding: 5px;
  font-size: 1.2rem;
  max-width: 330px;
  min-width: 120px;
  width: 100%;
  height: 96px;
  translate: 0 1px;
}
main .form-area form p:has(textarea) {
  padding-right: 44px;
}
main .form-area form .form-container {
  padding-left: 55px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main .form-area form .form-container p input {
  max-width: 200px;
  min-width: 90px;
  width: 100%;
  height: 46px;
}
main .form-area form input#button {
  position: absolute;
  right: 0;
  width: 96px;
  height: 44px;
  border: none;
  border-radius: 4px 4px 0 0;
  color: #fff;
  background-color: #26e400;
  rotate: 90deg;
  translate: 26px;
  font-size: 2rem;
  font-weight: bold;
}
main .form-area form input#button.checked {
  background-color: #ff3191;
}
main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 35px 6px;
}
main .container .status-bar {
  container-type: inline-size;
  max-width: 450px;
  width: 100%;
  height: 60px;
  padding: 4px;
  border-radius: 30px;
  box-shadow: #0f5c00 3px 3px 6px;
  display: flex;
  position: relative;
  background-color: #26e400;
}
main .container .status-bar.common {
  animation: fadeIn 0.6s cubic-bezier(0.92, 0.35, 0.34, 1.51) forwards;
}
main .container .status-bar.clear {
  animation: fadeOut 0.6s cubic-bezier(1, -0.77, 0.31, 1) forwards;
}
main .container .status-bar.none {
  animation: vibration 0.3s ease-out forwards;
}
main .container .status-bar.slide-up {
  height: 60px;
  animation: slideUp 0.5s ease-out forwards;
}
main .container .status-bar.slide-up.clear {
  animation: fadeOut 0.6s cubic-bezier(1, -0.77, 0.31, 1) forwards;
}
main .container .status-bar.slide {
  height: 135px;
  animation: slideDown 0.5s ease-out forwards;
}
main .container .status-bar.slide.clear {
  animation: fadeOut 0.6s cubic-bezier(1, -0.77, 0.31, 1) forwards;
}
main .container .status-bar.checked {
  background-color: #7fe66a;
}
main .container .status-bar .checkbox {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0px;
  left: 0px;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #fff;
}
main .container .status-bar .checkbox::before {
  position: absolute;
  content: "";
  display: none;
  width: 40px;
  height: 20px;
  background-color: #0f5c00;
  border-radius: 0 0 20px 0;
  rotate: 53deg;
  top: 5px;
  left: 4px;
  transform-origin: left;
  scale: 0 1;
}
main .container .status-bar .checkbox:checked::before {
  display: flex;
  animation: checkSign 0.1s linear forwards;
}
main .container .status-bar .checkbox::after {
  position: absolute;
  content: "";
  display: none;
  width: 75px;
  height: 20px;
  background-color: #0f5c00;
  border-radius: 0 0 0 20px;
  rotate: -48deg;
  top: 36px;
  left: 20px;
  transform-origin: left;
  scale: 0 1;
}
main .container .status-bar .checkbox:checked::after {
  display: flex;
  animation: checkSign 0.1s 0.1s linear forwards;
}
main .container .status-bar .title {
  position: absolute;
  top: 22px;
  left: 65px;
  color: #fff;
  font-size: 1.2rem;
}
main .container .status-bar .limit {
  position: absolute;
  top: 22px;
  right: 100px;
  color: #fff;
  font-size: 1.2rem;
}
main .container .status-bar .discription-message {
  position: absolute;
  top: 22px;
  right: 50px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
main .container .status-bar .discription-message:hover {
  scale: 1.2;
}
main .container .status-bar .discription {
  display: none;
  position: absolute;
  left: 50%;
  top: 70px;
  width: 98%;
  height: 60px;
  translate: -50%;
  padding: 5px 25px;
  border-radius: 30px;
  background-color: #fff;
  color: #26e400;
  line-height: 1.2rem;
  word-wrap: break-word;
  overflow-y: auto;
}
main .container .status-bar .discription.fade-in {
  display: block;
  opacity: 0;
  animation: slideFadeIn 0.3s 0.5s ease-out forwards;
}
main .container .status-bar .delete-key {
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
}
main .container .status-bar .delete-key .delete-button {
  color: #fff;
  font-size: 2rem;
}
main .container .status-bar.important-list {
  background-color: #ff3191;
  box-shadow: #791845 3px 3px 6px;
}
main .container .status-bar.important-list.checked {
  background-color: #ff9ecb;
}
main .container .status-bar.important-list .checkbox::before {
  background-color: #791845;
}
main .container .status-bar.important-list .checkbox::after {
  background-color: #791845;
}
main .container .status-bar.important-list .discription {
  color: #ff3191;
}

@container (max-width:330px) {
  main .container .status-bar .limit {
    display: none;
  }
}
@keyframes fadeIn {
  from {
    translate: -1000px;
    opacity: 0;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    translate: 0;
    opacity: 1;
  }
  to {
    translate: 1000px;
    opacity: 0;
  }
}
@keyframes vibration {
  from {
    translate: 0;
  }
  17% {
    translate: -10px;
  }
  34% {
    translate: 10px;
  }
  51% {
    translate: -10px;
  }
  67% {
    translate: 10px;
  }
  84% {
    translate: -10px;
  }
  to {
    translate: 0;
  }
}
@keyframes slideUp {
  from {
    height: 135px;
  }
  to {
    height: 60px;
  }
}
@keyframes slideDown {
  from {
    height: 60px;
  }
  to {
    height: 135px;
  }
}
@keyframes slideFadeIn {
  to {
    opacity: 1;
  }
}
@keyframes checkSign {
  to {
    scale: 1 1;
  }
}
footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p small {
  font-size: 0.6rem;
  color: #fff;
}/*# sourceMappingURL=style.css.map */